body {
  background: #fff;
  font-family: sans-serif;
  font-size: 15px;
}

nav {
  padding: 0 20px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

h1 {
  font-size: 60px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 3px;
}

hr {
  border-color: #888888;
<<<<<<< HEAD
=======
}

input[type="text"], input[type="password"] {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 20px 0;
>>>>>>> origin/master
}

label {
  text-align: left;
  width: 100%;
}

.imagediv {
  z-index: 1;
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/project.jpg");
  background-size: 100%;
  width: 100%;
  height: 350px;
  min-height: 200px;
  text-align: center;
}

.full-imagediv {
  z-index: 1;
  position: fixed;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/project.jpg");
  background-size: 100%;
  width: 100%;
  height: 100%;
  min-height: 200px;
  text-align: center;
}

.navbar {
  margin-bottom: 0px;
}

.titleimage {
  color: white;
}

.imagedivinside {
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.button {
  border-radius: 10px;
  padding: 7px 25px;
  border-style: none;
  background-color: #333333;
  color: white;
  font-size: 16px;
}

.button-white {
  border-radius: 10px;
  padding: 7px 25px;
  border-style: none;
  background: #EEEEEE;
  color: #333333;
  font-size: 16px;
}

.button:hover {
  background-color: #4A4A4A;
  color: white;
  text-decoration: none;
}

.button-white:hover {
  background-color: #CACACA;
  color: #333333;
  text-decoration: none;
}

.maincontainer {
  max-width: 930px;
  margin: auto;
}

.picture {
  border: 1px solid gray;
  background: #999999;
  width: 160px;
  margin: 5px;
  vertical-align: top;
  height: 200px;
  display: inline-block;
}

.small-picture {
  width: 55px;
  height: 60px;
}

.grey-text {
  color: #888888;
}

.smaller-text {
  font-size: 12px;
}

.description {
  display: inline-block;
  width: 75%;
  margin: 5px;
  vertical-align: top;
}

<<<<<<< HEAD
.timelineForm, .projectMemberForm {
=======
.timelineForm {
>>>>>>> origin/master
  background: #F7F7F7;
  padding: 15px;
}

.activity {
  margin-bottom: 150px;
<<<<<<< HEAD
}

.projectMember {
  display: inline-block;
  width: 49%;
=======
>>>>>>> origin/master
}